* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

#calculator {
    display: flex;
    flex-direction: row;
}

.user-input {
    display: flex;
    flex-direction: column;
}

#ticket-price {
    border: 1px solid red;
    padding: 10px;
}